#books {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#books td, #books th {
    border: 1px solid #ddd;
    padding: 8px;
}

#books tr:nth-child(even){background-color: #f2f2f2;}

#books tr:hover {background-color: #ddd;}

#books th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.flex-container {
    display: flex;
    background-image: linear-gradient(315deg, #63d471 0%, #233329 74%);
    justify-content: center;
}


.flex-container > div {

    margin: 10px;
    border-radius: 5px;
    background-color: #f2f2f2;
    height: 220px;
    width: 300px;
}

input[type=text], select {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 40%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 16px 70px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.name{

    margin-left:80px;

}
